* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #080808;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
}

h2, h3, p, button, li, label {
    color: #fff;
}

    /* first section */

.flex-box {
    display: flex;
    height: 100%;
}

.flex-box .text-box1 {
    width: 90%;
    text-align: center;
    justify-content: center;
}

.flex-box .text-box1 .text1{
    margin: 50% 5% 10%;
    font-size: 40px;
}

.flex-box .search input{
    float: right;
    border: none;
    cursor: pointer;
    color: #0808089E;
}

.first-btn {
    padding: 9px 39px;
    border-radius: 25px;
    background-color: #FF8D69;
    border: none;
}

.flex-box img {
    height: 90%;
    align-items: center;
}

/* featured product section */

.featured h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
}

.category {
    padding:  0 60px;
    width: 20%;
}
.category h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 50px;
}
.category p, .category ul li, .category label {
    font-size: 15px;
    font-weight: 400;
}
.category p {
    margin: 5px 0;
} 
.category ul li {
    padding-left: 20px;
    list-style: none;
}
.category legend, .category h4{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.category hr {
    margin: 10px 15px;
    border: none;
    width: 60%;
    border: 1px solid rgba(255, 255, 255, 0.41);
}

.category .range {
    display: flex;
}

.products {
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    align-items: center;
}

.products .product {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 220px;
    height: 450px;
    border-radius: 25px;
    background: rgba(37, 221, 233, 0.18);
    overflow: hidden;
    padding: 4px 20px;
    gap: 0.5rem;
}

.products .product .discount {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.products .product img {
    width: 250px;
    height: 210px;
}

.products .product .type {
    font-size: 17px;
}

.products .product .price {
    font-size: 19px;
    font-weight: 700;
}

.products .product .location {
    color: #25DDE9;
    font-size: 12px;
    font-weight: 600;
}

.products .product .opac {
    opacity: 0;
}

.products .product .seller {
    font-size: 12px;
}

.products .product .review {
    color: #FFFFFF91;
    font-size: 15px;
}

.price, .location, .seller, .review {
    padding-top: 6px;
}

.products .product .first-btn {
    position: inline-flex;
    height: 40px;
    width: 63%;
    margin: auto;
    padding: 5px 20px;
    background-color: #FF8D69;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}


/* Promo Section */

.promo {
    display: flex;
    justify-content: space-between;

}

.promobox{
    width: 45%;
    height:15rem;
    background-color: palegoldenrod;
    position: relative;
    z-index: -2;

}
.promobox::before{
    content: '';
    position: absolute;
    background-color: red;
    top: 25%;
    transform: translate(5%, -10%);
    width: 90%;
    height: 45%;
    font-size: 30px;
    font-weight: 600;
    z-index:-1 ;
}


.promobox1::before{
    content: 'Toast to Great Deals';
}

.promobox2::before{
    content: 'Save Big On Mobile Phones';
}
.promobox img {
    position: absolute;
    top: -30%;
    width: 580px;
    height: 320px;
    z-index: 1;
}
